body {  
    height: 100%;
    margin: 10;
    background: #9a9797;
}
.App {  
    columns: 4;
    margin: 0;
    font-size: 1.5em; 
}
.starship {
    background-color: #266272;
    margin: 1px;
    padding: 15px;
    font-size: 20px;
  }